@media (max-width: 600px) {
  body {
    display: block;
    align-items: unset;
    justify-content: unset;
  }

  .flex.justify-center.align-center {
    flex-direction: column;
  }

  .flex.justify-center.align-center img {
    max-width: 100%;
    height: auto;
  }
}